$primary: #e12b27;
$primaryBlue: #1b86ec;
$primaryGreen: #1b5060;
$primaryRed: #e02c26;
$lightbluebg: #f8f9ff;
$secondary: #1b5060;
$backgroundColor: #fff9f4;
$textBlack: #000000;
$textGray: #797979;
$primaryyellow: rgba(255, 181, 49, 0.2);
$primaryOrange: #ff7a59;

$headingFont: Poppins;
$bodyFonts: Roboto;
