@import '../../colors/colors.scss';
.reset-password {
	position: fixed;
	overflow-x: hidden;
	width: 100%;
	height: 100%;
	background: #fff9f4;
	.position-fixed {
		height: 100%;
		background-color: #fff;
		right: -15px;
	}
	.logo {
		padding-top: 50px;
		padding-bottom: 20px;
		text-align: center;
		&-img {
			width: 50%;
		}
	}
	&-profiles {
		background: #fff9f4;
	}
	.banner-left-thumbnail {
		text-align: center;
		.banner-left-reset-bg {
			max-width: 600px;
		}
	}
	.reset-password-details {
		padding: 50px;
		position: relative;
		margin-top: 30%;
		&-heading {
			font-family: Poppins;
			font-style: normal;
			font-weight: bold;
			font-size: 28px;
			line-height: 60px;
			color: #000000;
		}
		&-pera {
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 160%;
			color: #797979;
			margin-top: -10px;
		}
	}
	.reset-password-info-details {
		.label {
			font-family: Poppins;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 27px;
			color: #797979;
			display: block;
			position: relative;
		}
		.form-control {
			background: #f8f8f8;
			box-sizing: border-box;
			box-shadow: 0px 4px 20px rgba(27, 80, 96, 0.1);
			border-radius: 10px;
			padding: 10px 15px;
			margin-top: 10px;
		}
		.form-control:focus {
			border: 1px solid #1b5060;
		}
		::placeholder {
			font-family: Poppins;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 21px;
			color: #bdbdbd;
		}
		.reset-pass1 {
			width: auto;
			margin-right: 0px;
		}
		.registerd {
			margin-top: 20px;
		}
	}
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
	.reset-password {
		.banner-left-thumbnail {
			.banner-left-reset-bg {
				max-width: 500px;
			}
		}
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	.reset-password {
		.position-fixed {
			position: relative !important;
			right: 0;
		}
	}
}

@media screen and (max-width: 767px) {
	.reset-password {
		.position-fixed {
			position: relative !important;
			right: 0;
		}
	}
}

@media screen and (min-width: 576px) and (max-width: 767px) {
	.reset-password {
		.reset-password-details {
			margin-top: 0;
		}
	}
}

@media screen and (min-width: 320px) and (max-width: 575px) {
	.reset-password {
		.reset-password-details-heading {
			font-size: 23px;
		}
		.reset-password-details {
			margin-top: 0px;
		}
		.banner-left-thumbnail {
			text-align: center;
			.banner-left-reset-bg {
				max-width: 300px;
			}
		}
	}
}
