@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import './colors/colors.scss';

.marT0 {
	margin-top: 0px !important;
}
.marT30 {
	margin-top: 30px;
}
.padL0 {
	padding-left: 0px !important;
}
.fullwidth {
	width: 100%;
}

.typing {
	width: 30px;
	height: auto;
	position: relative;
	display: inline-block;
	.typing__dot {
		float: left;
		width: 5px;
		height: 5px;
		margin: 0 3px 0 0;
		background: $primaryBlue;
		border-radius: 50%;
		opacity: 0;
		animation: loadingFade 1s infinite;
		&:nth-child(1) {
			animation-delay: 0s;
		}
		&:nth-child(2) {
			animation-delay: 0.2s;
		}
		&:nth-child(3) {
			animation-delay: 0.4s;
		}
	}
}

.truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

@keyframes loadingFade {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0.8;
	}
	100% {
		opacity: 0;
	}
}

@keyframes scaleIn {
	from {
		transform: scale(0.5, 0.5);
		opacity: 0.5;
	}
	to {
		transform: scale(2.5, 2.5);
		opacity: 0;
	}
}

@keyframes animScale {
	0% {
		opacity: 0;
		transform: translate3d(0, 40px, 0) scale3d(0.1, 0.6, 1);
	}
	100% {
		opacity: 1;
		transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
	}
}
